.container{
  width: 80%;
  height: 540px;
  background: antiquewhite;
  margin-left: 10%
}
.label{
  width: 100%;
  display: flex;
  justify-content: center;
  background: cadetblue;
}
.inputs{
  display: flex;
  flex-direction: column;
}
.formclass{
    margin-left: 50px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}
.inputclass{
  width: 32%;
  height: 30px;
  border: 1px solid;
  border-radius: 3px;
  
}
.calculate{
  margin-left: 50px;
  margin-top: 30px;
  width: 30%;
  height: 35px;
  font-size: 25px;
  color: rgb(72, 69, 245);
  background: rgb(245, 245, 102);
  border: 1px;
  cursor: pointer;
}
/* .output{
  margin-top: -25%;
  margin-left: 67%;
  border: 1px solid;
}
.Result{
    margin-top: -36%;
    margin-left: 60%;
} */
table{
    margin-top: -25%;
    margin-left: 70%;
    transform: translate(-50%,-50%);
    width: 35%;
    height: 100px;
    background: rgb(230, 168, 219);
    text-align: center;
    border-collapse: collapse;
    box-shadow: 0 12px 5px  rgba(32, 32, 32,.3);
}
tr td{
  border: 1px solid #ddd;
  padding: 12px 32px;
  color: black;
}
.Error{
  width: 300px;
  height: auto;
}